#title {
  font-family: "Roboto", serif;
  font-weight: 500;
}
#search {
  width: 300px;
  margin-right: 15px;
}
.bold {
  font-weight: 600;
}
.smaller.delta {
  width: 2%;
	height: auto;
	position: relative;
}
.clickable {
  cursor: pointer;
}
.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    float: left;
    background-color: transparent;
    font-family: sans-serif;
		border: 1;
		border-radius: 30px;
		box-shadow: inset 0 0 0 2px #fff;
		color: #fff;
		cursor: pointer;
		/* display: inline-block; */
		font-size: 15px;
		font-weight: 600;
		line-height: 42px;
		padding: 0 1.75em;
		text-align: center;
		text-decoration: none;
		/* text-transform: uppercase; */
	}
	.button:hover,
		.button:active {
      box-shadow: inset 0 0 0 2px #017ef2;
			color: #017ef2;
			background-color: transparent;}
@media only screen and (max-width: 1169px) {
	.hide-chip {
		display: none;
	}
}

@media only screen and (max-width: 960px) {
	.button-hide {
		display: none;
	}
}