@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap');
html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
  
.background {
  background: linear-gradient(270deg, #1a7fc3, #39bc82);
  background-size: 200% 200%;
  -webkit-animation: animated 25s ease infinite;
  -moz-animation: animated 25s ease infinite;
  animation: animated 25s ease infinite;
}

.container-error100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  }

  .textitems{
    color:white;
    justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  }
  .spanText {
    margin: auto;
    padding-top: 7vh;
    justify-content: center;
  align-items: center;
  text-align: center;
  }
  
  .txt1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 200;
    text-decoration: none;
    color: white;
  }
  
  .txt2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    text-decoration: none;
    color: white;
  }
  
  .txt3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    font-weight:100;
    text-decoration: none;
    color: white;
  }
  .txt4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight:100;
    text-decoration: none;
    color: white;
  }
  .txt5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight:150;
    text-decoration: none;
    color: cyan;
    cursor: pointer;
  }

  .back-vi {
    width: 20vw;
    position: absolute;
    bottom: 0;
    right: 0;
    /* margin-left: 18.9vw; */
    /* float: right; */
    opacity: 0.2;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }


@media only screen and (max-width: 900px) {
    .txt3 {
        max-width: 100%;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight:100;
        text-decoration: none;
        color: white;
      }
}
      @-moz-keyframes animated {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
      @keyframes animated {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      