@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic");
html {
  height: 100%;
  font-family: Verdana, sans-serif, Agency FB;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(255,255,255,0.8); */
}

.background {
  background: linear-gradient(270deg, #1a7fc3, #39bc82);
  background-size: 200% 200%;
  -webkit-animation: animated 25s ease infinite;
  -moz-animation: animated 25s ease infinite;
  animation: animated 25s ease infinite;
}
.hellotext{
  font-family: Verdana;
  font-size: 50px;
  /* line-height: 1.7; */
  font-weight:50;
  color:white;
}
@-webkit-keyframes animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
