@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap');
html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

/*---------------------------------------------*/

a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input:-moz-placeholder {
  color: #fff;
}

input::-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

textarea::-webkit-input-placeholder {
  color: #fff;
}

textarea:-moz-placeholder {
  color: #fff;
}

textarea::-moz-placeholder {
  color: #fff;
}

textarea:-ms-input-placeholder {
  color: #fff;
}

/*---------------------------------------------*/

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
  overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////
[ Welcome Header ]*/

.spanText {
  margin: auto;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.txt1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

.txt2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.txt3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.txt4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  text-decoration: none;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* word-wrap: break-word; 
  white-space: -webkit-pre-wrap;
  word-break: break-all; */
  white-space: normal;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  margin: 0 15px;
}

@media only screen and (max-width: 500px) {
  .welcomeheader {
    font-family: 'Montserrat', sans-serif;
    font-size: 8vw;
    font-weight: 600;
    text-decoration: none;
    color: #525251;
  }
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(255,255,255,0.8); */
}

.background {
  background: linear-gradient(270deg, #1a7fc3, #39bc82);
  background-size: 200% 200%;
  -webkit-animation: animated 10s ease infinite;
  -moz-animation: animated 10s ease infinite;
  animation: animated 10s ease infinite;
}

.wrap-login100 {
  /* width: 60vw; */
  /* height: auto; */
  min-height: 54vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  overflow: hidden;
  background: lighten;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-pic img {
  max-width: 100%;
}

.card {
  position: relative;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 360px;
  display: flex;
  align-items: center;
  text-align: center;
}

.login100-form {
  position: relative;
  z-index: 40;
  width: 40vw;
  min-height: 60vh;
  /* padding-top:1%;
    padding-bottom:1%; */
  /* padding-right: 1vw; */
  border-radius: 50px;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.bigdiv {
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar {
  text-align: center;
  z-index: -10;
  width: 280px;
  /* max-height: 24vh;
    min-height: 20vh; */
  /* margin-top: 13vh; */
  margin: auto;
  /* margin-bottom:35%; */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.back-vi {
  z-index: 0;
  width: 50%;
  position: absolute;
  bottom: 0;
  margin-left: 10vw;
  float: right;
  opacity: 0.06;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.login100-form-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1vw;
  height: 1vh;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  /* text-transform: uppercase; */
  display: block;
}

.alerter {
  color: #000;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  padding-top: 1vh;
  width: 20vw;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
  /* padding-left:25%; */
  /* margin-right:-35%; */
  margin: auto;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.input100 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #ffff00;
  line-height: 0.5;
  display: block;
  width: 100%;
  height: 3vh;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
  padding: 5px;
  padding-top: 0px;
  /* padding-left:23%; */
  width: 100%;
  margin: auto;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; */
  text-decoration: none;
  justify-content: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

/* .login100-form-btn {
    width: 10vw;
    height: 5vh;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.15) !important;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border: 0;
    box-shadow: 0 !important;
    border-radius: 10px;
    text-transform: none;
} */

.forgot100-btn {
  margin: auto;
    
}

.login100-btn {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  width: 9vw;
  height: 5vh;
  outline: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: rgba(236, 240, 241, 0.2);
  /* border: 1px solid rgb(65, 137, 150); */
  border-radius: 20px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 10px;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.login100-btn:hover {
  color: white;
  background-color: rgb(236, 240, 241, 0.3);
  transition: 0.2s;
}

.login100-btn:active {
  color: white;
  background-color: rgb(236, 240, 241, 0.6);
  transition: 0.2s;
}

.backdiv {
  position: relative;
  margin: auto;
}

.forgotdiv {
  position: relative;
  margin: auto;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
.forgot {
  height: 5vh;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  margin: auto;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.forgot:hover {
  color: rgba(255, 255, 255, 1);
}

.fade-in {
  animation: fadeIn 4s ease forwards;
}

.login100-form-btn:hover {
  color: black !important;
  background: rgba(255, 255, 255, 0.7) !important;
}

@media only screen and (max-width: 800px) {
    
    
   .spanText{
       padding-top: 5vh;
   }
    
  .sidebar {
      margin-top: 5vh;
      margin-bottom: 5vh;
      width: 200px;
  }
    
  .card {
      margin: auto;
  }
    
  .wrap-login100 {
      width: 90%;
      min-height: 40vh;
  }
    
  .login100-form {
      width: 100%;
  }
    
  .wrap-input100 {
      width: 90%;
  }
    
  .container-login100-form-btn {
    /* padding-left:20%; */
    margin: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  }
    
  .forgotdiv{
      margin-top: -2vh;
      padding-bottom: 2vh;
  }
    
  .login100-btn {
    display: block;
    margin: 2.5vh auto;
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .back-vi {
    margin-left: 22.3vw;
  }
  .forgotdiv {
    margin-top: 0;
    padding-top: 0;
  }
}

@-webkit-keyframes animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.alert-box {
  font-family: 'Montserrat', sans-serif;
  border-top: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  color: #c0392b;
  font-weight: 600;
  margin: 0 7vw;
}
