@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic");
html {
    height: 100%;
    font-family: Verdana, sans-serif, Agency FB;
}


/*---------------------------------------------*/

a {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #fff;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

textarea::-webkit-input-placeholder {
    color: #fff;
}

textarea:-moz-placeholder {
    color: #fff;
}

textarea::-moz-placeholder {
    color: #fff;
}

textarea:-ms-input-placeholder {
    color: #fff;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
    overflow: hidden;
}


/*//////////////////////////////////////////////////////////////////
[ Welcome Header ]*/

.txt1 {
    font-family: "Open Sans";
    font-size: 2.5em;
    font-weight: 100;
    text-decoration: none;
    color: white;
}
.txt2 {
    font-family: "Open Sans";
    font-size: 2.5em;
    font-weight: 400;
    text-decoration: none;
    color: white;
}.txt3 {
    font-family: "Open Sans";
    font-size: 2.5em;
    font-weight: 200;
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 500px) {
    .welcomeheader {
        font-family: "Open Sans";
        font-size: 8vw;
        font-weight: 600;
        text-decoration: none;
        color: #525251;
    }
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    /* width: 100%; */
    /* margin: auto; */
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(255,255,255,0.8); */
}

.background {
    background: linear-gradient(270deg, #1a7fc3, #39bc82);
    background-size: 200% 200%;
    -webkit-animation: animated 25s ease infinite;
    -moz-animation: animated 25s ease infinite;
    animation: animated 25s ease infinite;
}

.wrap-login100 {
    width: 900px;
    /* height: 50vh; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    border-radius: 50px;
    overflow: hidden;
    /* background: linear-gradient( -180deg, rgba(255, 255, 255, 0.6) 100%, rgba(0, 0, 0, 0.1) 100%); */
    background: lighten;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-right:80px; */
    /* padding: 177px 130px 33px 95px; */
    min-height: 60vh;
  /* padding: 55px 55px 37px 55px; */
    /* background: -webkit-linear-gradient(top, rgba(72,198,239,0.8), rgba(111,134,214,0.8));
  background: -o-linear-gradient(top, rgba(72,198,239,0.8), rgba(111,134,214,0.8));
  background: -moz-linear-gradient(top, rgba(72,198,239,0.8), rgba(111,134,214,0.8));
  background: linear-gradient(top, rgba(72,198,239,0.8), rgba(111,134,214,0.8)); */
}


/*------------------------------------------------------------------
[ Form ]*/


.login100-pic img {
    max-width: 100%;
}
.card {
    position: relative;
    z-index:0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 40%;
    margin-right:-100px;
    padding-right:0px;
    background: rgba(255, 255, 255, 0.15);
  }

.login100-form {
    position: relative;
    z-index:20;
    width: 595px;
    padding-left:100px;
    border-top-left-radius: 50px;
    box-shadow:  -1px 0px 2px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 50px;
    /* border:1px solid black; */
    background-image:url("../vi.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.login100-form-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.login100-form-title {
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    /* text-transform: uppercase; */
    display: block;
}

.alerter {
    color: #000;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 300px;
    position: relative;
    color: white;
}

.input100 {
    font-family: Verdana;
    font-size: 18px;
    color: #ffff00;
    line-height: 0.5;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    padding: 5px;
    width: 100%;
    /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; */
  text-decoration: none;
  justify-content: center;

}

.login100-form-btn {
    width: 220px;
    height: 38px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.25) !important;
    font-family: "Open Sans";
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    /* text-transform: uppercase; */
    text-transform: none;
    /* box-shadow: inset 0 0 0 2px #525251 !important; */
    /* line-height: 52px; */
    /* padding: 0 1.75em; */
}

.login100-form-btn:hover {
    /* box-shadow: inset 0 0 0 2px #017ef2 !important; */
    color: black !important;
    background: rgba(255, 255, 255,0.25) !important;
}

@media only screen and (max-width: 500px) {
    .login100-form-btn {
        width: 100%;
        height: 38px;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        background-color: transparent !important;
        font-family: "Open Sans";
        border: 0;
        /* border-radius: 35px; */
        box-shadow: inset 0 0 0 2px #525251 !important;
        color: #525251 !important;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        /* line-height: 52px; */
        padding: 0 1.75em;
        text-align: center;
        text-decoration: none;
        /* text-transform: uppercase; */
    }
    .login100-pic {
        width: 35%;
    }
    .login100-form {
        width: 50%;
    }
}

@-webkit-keyframes animated {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes animated {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes animated {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}