@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic");
html {
    height: 100%;
    font-family: Verdana, sans-serif, Agency FB;
}


/*---------------------------------------------*/

a {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #fff;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

textarea::-webkit-input-placeholder {
    color: #fff;
}

textarea:-moz-placeholder {
    color: #fff;
}

textarea::-moz-placeholder {
    color: #fff;
}

textarea:-ms-input-placeholder {
    color: #fff;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
    overflow: hidden;
}


/*//////////////////////////////////////////////////////////////////
[ Welcome Header ]*/

.spanText {
    margin-left: -3vw;
    padding-left:4.8vw;
    padding-top: 4vh;
}

.txt1 {
    font-family: "Open Sans";
    font-size: 2.5em;
    font-weight: 100;
    text-decoration: none;
    color: white;
}

.txt2 {
    font-family: "Open Sans";
    font-size: 2.5em;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.txt3 {
    font-family: "Open Sans";
    font-size: 2.5em;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

.txt4 {
    font-family: "Open Sans";
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 500px) {
    .welcomeheader {
        font-family: "Open Sans";
        font-size: 8vw;
        font-weight: 600;
        text-decoration: none;
        color: #525251;
    }
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    /* width: 100%; */
    /* margin: auto; */
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(255,255,255,0.8); */
}

.background {
    background: linear-gradient(270deg, #1a7fc3, #39bc82);
    background-size: 200% 200%;
    -webkit-animation: animated 25s ease infinite;
    -moz-animation: animated 25s ease infinite;
    animation: animated 25s ease infinite;
}

.wrap-login100 {
    /* width: 60vw; */
    /* height: auto; */
    min-height: 54vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    overflow: hidden;
    background: lighten;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-pic img {
    max-width: 100%;
}

.card {
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 340px;
}

.login100-form {
    position: relative;
    z-index: 40;
    width: 38vw;
    min-height: 54vh;
    padding-top: 1vh;
    padding-left: 9vw;
    padding-right: 1vw;
    border-radius: 50px;
    box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.25);
}

.sidebar {
    z-index: -10;
    width: 320px;
    /* max-height: 24vh;
    min-height: 20vh; */
    margin-top: 13vh;
    margin-left: 1.5vw;
    padding-right: 1vw;
    /* margin-bottom:35%; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.back-vi {
    z-index: 0;
    width: 50%;
    position: absolute;
    bottom: 0;
    margin-left: 10.4vw;
    float: right;
    opacity: 0.1;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.login100-form-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    height: 1vh;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.login100-form-title {
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    /* text-transform: uppercase; */
    display: block;
}

.alerter {
    color: #000;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 20vw;
    position: relative;
    font-family: "Open Sans";
    color: white;
}

.input100 {
    font-family: Verdana;
    font-size: 18px;
    color: #ffff00;
    line-height: 0.5;
    display: block;
    width: 100%;
    height: 3vh;
    background: transparent;
    padding: 0 5px 0 38px;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    padding: 5px;
    padding-left:3px;
    width: 100%;
    /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; */
    text-decoration: none;
    justify-content: center;
}


/* .login100-form-btn {
    width: 10vw;
    height: 5vh;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.15) !important;
    font-family: "Open Sans";
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border: 0;
    box-shadow: 0 !important;
    border-radius: 10px;
    text-transform: none;
} */

.forgot100-btn {
    margin-left: 6vw !important;
}

.login100-btn {
    position: relative;
    font-family: "Open Sans";
    width: 35%;
    height: 5vh;
    outline: none;
    margin-top: 17px;
    color: white;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    background-color: rgba(81, 169, 185);
    border: 1px solid rgb(65, 137, 150);
    border-radius: 20px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    -webkit-appearance: none;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.login100-btn:hover {
    color: white;
    background-color: rgb(178, 215, 221, 0.5);
    transition: 0.2s;
}

.login100-btn:active {
    color: white;
    background-color: rgb(178, 215, 221, 1);
    transition: 0.2s;
}

.backdiv {
    position: absolute;
    z-index: 40;
    margin-left: 8.2vw;
}

.forgotdiv {
    position: absolute;
    z-index: 40;
    margin-left: 7vw;
}

.forgot {
    height: 5vh;
    font-family: "Open Sans";
    color: rgba(255, 255, 255, 0.9999);
    cursor: pointer;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.login100-form-btn:hover {
    color: black !important;
    background: rgba(255, 255, 255, 0.7) !important;
}

@media only screen and (max-width: 960px) {
    .sidebar,
    .card {
        display: none;
    }
    .wrap-login100 {
        width: 90%;
        min-height: 50vh;
    }
    .login100-form {
        width: 100%;
        padding-left: 23%;
    }
    .wrap-input100 {
        width: 60%;
    }
    .back-vi {
        margin-left: 24.4vw;
    }
    .spanText {
        margin-left: -2%;
    }
}

@-webkit-keyframes animated {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animated {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes animated {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}