#title {
  font-family: Montserrat;
  font-weight: 700;
  color: white;
  margin-left: 60px;
  display: inline-block;
}
#search {
  width: 300px;
  margin-right: 15px;
}
.bold {
  font-weight: 600;
}
.smaller.delta {
  width: 2%;
  height: auto;
  position: relative;
}
.clickable {
  cursor: pointer;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  float: left;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  border: none;
  /* border-radius: 30px; */
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 1.25em;
  font-weight: 700;
  line-height: 0;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover,
.button:active {
  box-shadow: inset 0 0 0 2px #017ef2;
  color: #017ef2;
  background-color: transparent;
}
@media only screen and (max-width: 1169px) {
  .hide-chip {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .button-hide {
    display: none;
  }
}

.rounded-box {
  border-radius: 25px;
  padding: 10px;
  height: 60px;
  width: 88%;
  background: linear-gradient( 
    90deg,
    #1EB8C9,
    #1EB8C9 10px,
    #EF4D67 10px,
    #EF4D67 20px,
    #FBD966 20px,
    #FBD966 30px,
    rgba(255, 255, 255, 0.2) 30px,
    rgba(255, 255, 255, 0.2) 40px);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.heading{
  font-family: Montserrat;
  font-weight: 700;
  color: white;
  margin-left: 60px;
  display: inline-block;
}

#name {
  float: right;
  margin-right: 20px;
}

#nav-box {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  height: 60px;
  margin: 50px 50px 0 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
}

#logout {
  float: right;
  font-family: Montserrat;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 1em;
}