
.gradient-background {
  background-image: linear-gradient(-90deg, #8E65A9, #B97C68);
}

.grid-container {
  margin: 0 30px 0 30px;
  display: grid;
  grid-template-columns: repeat(12, 4fr)
}

.welcome {
  grid-column: span 6;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 10px 10px 30px;
}

p {
  color: white;
  font-family: Montserrat;
  text-align: left;
}

.big {
  font-size: 7vw;
  font-weight: 700;
  padding: 2% 0 0 5%;
}

.small {
  font-size: 2vw;
  line-height: 1.2em;
  font-weight: 200;
  padding: 0% 5% 0 5%;
}

.wrap{
	width:100%;		
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  padding: 50px;
  padding-top: 40px;
}

/*COLUMNS*/
.col{
	float:left;		
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width:20%;
	padding:8px;	
}


.col1{width:10%;}
.col2{width:20%;}
.col3{width:30%;}
.col4{width:40%;}
.col5{width:50%;}
.col6{width:60%;}
.col7{width:70%;}
.col8{width:80%;}
.col9{width:90%;}
.col10{width:100%;}



/*SUB-COLUMN*/
/* .col .col{	padding:0; padding-left:0px;} */
/* .col .col ~ .col{padding-left:16px;} */

.col .col1{width:10%;}
.col .col2{width:20%;}
.col .col3{width:30%;}
.col .col4{width:40%;}
.col .col5{width:50%;}
.col .col6{width:60%;}
.col .col7{width:70%;}
.col .col8{width:80%;}
.col .col9{width:90%;}
.col .col10{width:100%;}


/*BOXES*/
.box{
	width:100%; 
	margin-bottom:1em; 
	clear:both;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
	
	background-position:center; 
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align:center;
	color:#fff;	
	/* -webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-o-transition:      all 0.2s ease;
	-ms-transition:     all 0.2s ease;
  transition:         all 0.2s ease; */
  display: inline-block;
  overflow: hidden;
}

/* .box:hover{
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
  transform: scale(0.98);
} */

.box1{height:1vw;}
.box2{height:3vw;}
.box3{height:6vw;}
.box4{height:9vw;}
.box5{height:12vw;}
.box6{height:15vw;}
.box7{height:18vw;}
.box8{height:21vw;}
.box9{height:24vw;}
.box10{height:27vw;}
.box11{height:29.5vw;}
.box12{height:33vw;}


.social {
  padding-top:0px;
}

.status {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.apply {
  width: 50%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  padding-top: 2vw;
}

.theme--light.v-icon{
  color: white !important;
  margin-top: 2vw;
  font-size: 2vw;
}

.apply-btn {
  text-decoration: none;
  font: inherit;
  color: inherit;
  margin: 0;
}

.currentStatus {
  float: right;
  font-family: Montserrat;
  color: white;
  margin-top: 3vw;
  margin-right: 1vw; 
  height: inherit;
  width: 25vw;
  font-size: 1vw;
}

.currentStatus p {
  text-align: center;
}
@media only screen and (max-width: 900px) {

  .col4{width:100%;}
  .col6{width:100%;}
  .big{font-size:12vw;}
  .small{font-size:3vw;}
  .apply{
    font-size: 8vw;
    padding-top:4vw;
  }
  .wrap{padding:5px;}
  .box3{height:12vw;}
  .box5{height:22vw;}
  .box9{height:40vw;}
  .box11{height:60vw;}
  .currentStatus{
    margin-right: 7vw; 
    width: 30vw;
    font-size: 1.5vw;
  }
  .theme--light.v-icon{
    margin-top: 4vw;
    font-size: 4vw;
  }
  img {
    width: 100%;
    height: auto;
  }
  
}

img {
  border-radius: 20px;
  height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 0.9;
  transition: all 1s ease;
  transition: opacity .3s;;
  transition: opacity 2s ease-in-out;
}

.fade-enter,
.fade-leave-to
{
  opacity: 0.1;
  transition: opacity 1s ease-in-out;
}