@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');
.grid-container {
    margin: 0 30px 0 30px;
    display: grid;
    grid-template-columns: repeat(12, 4fr);
}

.welcome {
    grid-column: span 6;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 10px 10px 30px;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.big {
    font-size: 7vw;
    font-weight: 600;
    padding: 2% 0 0 5%;
}

.small {
    font-size: 2vw;
    line-height: 1.2em;
    font-weight: 200;
    padding: 0% 5% 0 5%;
}

.goodluck{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font: inherit;
    color: inherit;
    margin-top: 10%!important;
    font-size: 3vw;
    font-weight: 600;
    padding-left:5% !important;
    /* padding: 2% 0 0 5%;     */
}
.medium {
    font-size: 5vw;
    font-weight: 600;
    padding: 2% 0 0 5%;
}

.wrap {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px;
    padding-top: 40px;
}


/*COLUMNS*/

.col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    padding: 8px;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 20%;
}

.col3 {
    width: 30%;
}

.col4 {
    width: 40%;
}

.col5 {
    width: 50%;
}

.col6 {
    width: 60%;
}

.col7 {
    width: 70%;
}

.col8 {
    width: 80%;
}

.col9 {
    width: 90%;
}

.col10 {
    width: 100%;
}


/*SUB-COLUMN*/


/* .col .col{	padding:0; padding-left:0px;} */


/* .col .col ~ .col{padding-left:16px;} */

.col .col1 {
    width: 10%;
}

.col .col2 {
    width: 20%;
}

.col .col3 {
    width: 30%;
}

.col .col4 {
    width: 40%;
}

.col .col5 {
    width: 50%;
}

.col .col6 {
    width: 60%;
}

.col .col7 {
    width: 70%;
}

.col .col8 {
    width: 80%;
}

.col .col9 {
    width: 90%;
}

.col .col10 {
    width: 100%;
}


/*BOXES*/

.box {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
    clear: both;
    background: rgba(255, 255, 255, 0.2);
    background-position: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    /* -webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-o-transition:      all 0.2s ease;
	-ms-transition:     all 0.2s ease;
  transition:         all 0.2s ease; */
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}


/* .box:hover{
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
  transform: scale(0.98);
} */

.box1 {
    height: 1vw;
}

.box2 {
    height: 3vw;
}

.box3 {
    height: 6vw;
}

.box4 {
    height: 9vw;
}

.box5 {
    height: 12vw;
}

.box6 {
    height: 15vw;
}

.box7 {
    height: 18vw;
}

.box8 {
    height: 21vw;
}

.box9 {
    height: 24vw;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 92% 100%, 0 100%, 0% 50%);
}

.box10 {
    height: 27vw;
}

.box11 {
    height: 29.5vw;
}

.box12 {
    height: 33vw;
}

.social {
    padding-top: 0px;
}

.status {
    background: rgba(255, 255, 255, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 94% 100%, 0 100%, 0% 50%);
}

.submit, .apply {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 5vw;
    font-weight: 500;
    padding-top: 2vw;
    text-decoration: none;
    transition: 1s;
}
.submit{
    font-size: 2.5vw;
}
.submitted{
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    /* background: rgba(255, 255, 255, 0.4); */
    /* box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1); */
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    padding-top: 2vw;
    text-decoration: none;
    transition: 1s;
    margin-top: 2%!important;
}
.apply:hover {
    color: rgba(255, 255, 255, 0.6);
}

.theme--light.v-icon {
    color: white !important;
    margin-top: 2vw;
    font-size: 2vw;
}

.apply-btn {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font: inherit;
    color: inherit;
    margin: 0;
}

.currentStatus {
    float: right;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 1.5vw;
    margin-right: 1vw;
    height: inherit;
    width: 25vw;
    font-size: 1vw;
}

.currentStatus p {
    text-align: center;
    margin-top: 1vw;
}

.emote {
    background: rgba(255, 255, 255, 0.2);
    width: 50px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 43%;
    position: relative;
    font-size: 30px;
    margin: 1vw 0;
}

.deadline{
    font-size:2em; 
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px; 
    padding-left:30px;
    padding-right:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.afterSubmitRounded{
    font-size:2em; 
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px; 
    padding-left:30px;
    padding-right:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.afterSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.tablet {
    display: none;
}

.rsvp-btn {
    height: 6vw;
    font-size: 1.5vw;
    line-height: 6vw;
    width: 30%;
    margin-left: 30px;
}

.rsvp-dropdown {
    border-radius: 50%;
    width: 8vw;
    color: white;
    font-size: 1.5vw;
    text-transform: capitalize;
}

.v-input {
    width: 50%;
    left: 2vw;
    border-radius: 10px;
}

.next {
    bottom: 6vw;
    left: 35vw;
    line-height: 6vw;
    font-size: 1.5vw;
}

.change-response {
    width: 25vw;
    margin: 1vw 15vw;
    line-height: 3vw;
    font-size: 1.5vw;
}

a {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 900px) {
    .col4 {
        width: 100%;
    }
    .col6 {
        width: 100%;
    }
    .big {
        font-size: 12vw;
    }
    .small {
        font-size: 3vw;
    }
    .apply-btn {
        display: table;
    }
    .goodluck{
        display: table-cell;
        vertical-align: middle;
        margin-left: 5%!important;
    }
    .glm{
        margin-top: 0px!important;
        margin-left: 30px;
    }
    .apply {
        font-size: 8vw;
        padding: 0px;
        display: table-cell;
        vertical-align: middle;
    }
    .submitted{
        font-size: 3vw;
        padding: 0px;
        display: table-cell;
        vertical-align: middle;
    }
    .wrap {
        padding: 5px;
    }
    .box3 {
        height: 12vw;
    }
    .box5 {
        height: 20vh;
    }
    .box9 {
        height: 40vw;
    }
    .box11 {
        height: 60vw;
    }
    .currentStatus {
        margin-right: 7vw;
        width: 30vw;
        font-size: 1.5vw;
        margin-top: 5vw;
    }
    .theme--light.v-icon {
        margin-top: 4vw;
        font-size: 4vw;
    }
    img {
        width: 100%;
        height: auto;
    }
    .bigmobile {
        margin-top: 10px !important;
        font-size: 12px !important;
    }
    .currentStatus {
        width: 30vw;
        font-size: 1.5vw;
    }
    .emote {
        left: 30%;
    }
    .afterSubmitRounded{
        font-size:1em ; 
        background: rgba(255, 255, 255, 0.2);
        /* border-radius: 50px; 
        padding-left:30px;
        padding-right:30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px; */
    }

    .statusbackground {
        -webkit-animation: statusanimation 180s ease infinite !important;
        -moz-animation: statusanimation 180s ease infinite !important;
        animation: statusanimation 180s ease infinite !important;
    }
    .rsvp-btn {
        width: 99%;
        padding-bottom: -50px!important;
        height: 12vw;
        line-height: 12vw;
        font-size: 3vw;
        margin: 2px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .next {
        width: 22vw;
        margin-top: -50vh;
        margin-bottom: 100%;
        margin-left: 25vw;
        /* margin:-18vw 0 0 25vw; */
        /* margin-bottom: 100%; */
        line-height: 12vw;
        font-size: 3vw;
    }
    .change-response {
        width: 90vw;
        margin-left: 0vw;
        margin-bottom: 10vh;
        height: 9vw;
        font-size: 3vw;
        line-height: 5vh;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 901px) {
    .col4,
    .col6 {
        width: 50%;
    }
    .desktop {
        display: none;
    }
    /* .col6 {width: 40%;} */
    .box11,
    .box9 {
        height: 35vw;
    }
    .tablet {
        display: block;
    }
    .box3 {
        height: 12vw;
    }
    .box5 {
        height: 18vw;
    }
    .theme--light.v-icon {
        margin-top: 4vw;
        font-size: 5vw;
    }
    .big {
        font-size: 6vw;
    }
    .small {
        font-size: 2.5vw;
    }
    .apply {
        font-size: 8vw;
        padding-top: 4.5vh!important;
    }
    .currentStatus {
        width: 40vw;
        font-size: 2vw;
    }
    .rsvp-btn {
        width: 99%;
        height: 8.5vw;
        line-height: 8.5vw;
        font-size: 2vw;
        margin: 1px;
    }
    .change-response {
        width: 30vw;
        margin: 1vw 7vw;
    }
    .next {
        width: 22vw;
        margin: 5vw 0 0 -28vw;
        line-height: 12vw;
        font-size: 3vw;
    }
}

.slide {
    opacity: 0;
    position: absolute;
    height: 100%;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    left: 0;
}

.showMe {
    opacity: 1;
}


/* For Hello Page */

.container-hello100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-hello100::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(255,255,255,0.8); */
}

.hellotext {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    /* line-height: 1.7; */
    font-weight: 50;
    color: white;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.hello-back-vi {
    width: 20vw;
    position: absolute;
    bottom: 0;
    right: 0;
    /* margin-left: 18.9vw; */
    /* float: right; */
    opacity: 0.2;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.background {
    /* background: linear-gradient(270deg, #1a7fc3, #39bc82); */
    background: linear-gradient(270deg,#7a72e5,#ab5797);
    background-size: 200% 200%;
    -webkit-animation: animated 25s ease infinite;
    -moz-animation: animated 25s ease infinite;
    animation: animated 25s ease infinite;
}

.statusbackground {
    background: rgb(0,0,0);
    /* background: linear-gradient(180deg,#7a72e5 45%, #ab5797 50%); */
    background: linear-gradient(270deg,#7067e0,#973d82);
    /* background-size: 800% 800%; */
    background-size: 200% 200%;
    -webkit-animation: animated 10s ease infinite;
    -moz-animation: animated 10s ease infinite;
    animation: animated 10s ease infinite;
    /* -webkit-animation: statusanimation 140s ease infinite;
    -moz-animation: statusanimation 140s ease infinite;
    animation: statusanimation 140s ease infinite; */
}
.staticBackground {
    background: rgb(0,0,0);
    /* background: linear-gradient(180deg,#7a72e5 45%, #ab5797 50%); */
    background: linear-gradient(270deg,#7067e0,#973d82);
    /* background-size: 800% 800%; */
    background-size: 200% 200%;
}

@-webkit-keyframes statusanimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes statusanimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes statusanimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes animated {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes animated {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes animated {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.view-enter-active,
.view-leave-active {
    transition: opacity 2s;
    transform: 2s ease-in-out;
}


/* .view-enter-active{
  transition-delay: 2.5s;
} */

.view-enter,
.view-leave-to {
    opacity: 0;
}

.view-enter-to,
.view-leave
/* .fade-leave-active in <2.1.8 */

{
    opacity: 1;
}

.swag-url {
    color: orange;
    font-weight: 500;
}
.act-btn {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.99;
    padding: 10px 23%;
    color: white;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    z-index: 100;
    width: 97.5%;
  }
  
  .act-btn-group {
    z-index: 10;
    float:right !important;
  }
  
  .toggle-btn-grp{
    padding: 0px !important;
    float:right !important;
  }
  
  .act-btn__reset {
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
    padding: 0 !important;
  }

  .togbtn {
      padding:0 !important;
  }